$primary-blue: #0b45b1;
$primary-blue-0-1: rgba(11, 69, 177, 0.1);
$primary-blue-0-3: rgba(11, 69, 177, 0.3);
$primary-blue-0-8: rgba(11, 69, 177, 0.8);
$text-white: #ffffff;
$status-green: #00bd1e;
$primary-jade: #1b998b;
$text-black: #000000;
$primary-jade-0-1: rgba(27, 153, 139, 0.1);
$primary-jade-0-2: rgba(27, 153, 139, 0.2);
$primary-jade-0-3: rgba(27, 153, 139, 0.3);
$primary-jade-0-4: rgba(27, 153, 139, 0.4);
$primary-jade-0-5: rgba(27, 153, 139, 0.5);
$primary-jade-0-7: rgba(27, 153, 139, 0.7);
$primary-jade-0-8: rgba(27, 153, 139, 0.8);
$primary-jade-0-9: rgba(27, 153, 139, 0.9);
$secondary-orange: #ff6d35;
$secondary-purple: rgb(217, 3, 104);
$secondary-purple-0-85: rgba(217, 3, 104, 0.85);
$status-red: #d7263d;
$disabled-grey: #C4C4C4;
$disabled-grey-dark: #787885;
$disabled-grey-0-3: rgba(169, 169, 169, 0.3);
$benefit-grey: #F4F4F4;
$background-grey: #F9F9F9;
$background-grey-modal: rgba(107, 107, 115, 0.6);
